<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Erler AB
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Title</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <iframe
  id="ifrm"
  class="responsive-iframe" 
  allowusermedia 
  allow="camera"
  id="inlineFrameExample"
  title="Inline Frame Example"
  width="720"
  height="1240"
  src="assets/pc/index.html"
>
</iframe>
</ion-content>
